# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\brodewicz.tech\graphql-dsg-example\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
